<div class="top">
  <h2><%= link_to "Bounties", bounties_path %></h2>

  <ul class="settings">
    <li>
      <button class="show">
        <div class="btext"><%= @statusname %></div>
        <div class="arrow"><%= image_tag "arrow-down.png" %></div>
      </button>
      <ul>
        <li><%= link_to "Show All", :sort => @sort, :status => 'all', :search => @search %></li>
        <li><%= link_to "Show Claimed", :sort => @sort, :status => '1', :search => @search %></li>
        <li><%= link_to "Show Unclaimed", :sort => @sort, :status => '0', :search => @search %></li>
        <li><%= link_to "Show Completed", :sort => @sort, :status => '2', :search => @search %></li>
      </ul>
    </li>
    <li>
      <button class="sort">
        <div class="btext"><%= @sortname %></div>
        <div class="arrow"><%= image_tag "arrow-down.png" %></div>
      </button>
      <ul>
        <li><%= link_to "Newest", :sort => 'DESC', :status => @status, :search => @search %></li>
        <li><%= link_to "Oldest", :sort => 'ASC', :status => @status, :search => @search %></li>
      </ul>
    </li>
  </ul>
</div>

<% if @bounties.empty? %>
  <div class="empty">
    <h2>No bounties!</h2>

    <% if user_signed_in? %>
      <a href="<%=url_for(new_bounty_path)%>">
        <div class="gobig">
          <%= image_tag "superadd.png" %>
          <h3>Add a new bounty</h3>
        </div>
      </a>
    <% end %>
  </div>
<% else %>
  <ul class="bounties">
  <% @bounties.each do |bounty| %>
    <a href="<%= url_for(bounty) %>">
      <li>
        <div class="details">
          <div><%= bounty.problem %></div>
          <div class="deadline"><b>$<%= bounty.interest%></b>, due: <%= bounty.deadline %></div>
        </div>
        <div class="status <%= bounty.status?.downcase %>">
          <% if bounty.status == 1 %>
            <div class="progress-bar">
              <div class="progress" style="width:<%= bounty.progress %>%;"></div>
            </div>
          <% else %>
            <%= bounty.status? %>
          <% end %>
        </div>
        <div class="arrow"><%= image_tag "arrow.png" %></div>
      </li>
    </a>
  <% end %>
  </ul>
<% end %>

